openapi: 3.0.3
info:
    title: GA4GH htsget reference server (prod)
    description: |
        Welcome to the GA4GH-hosted, production deployment of the htsget
        reference server 

        The API's base url is: https://htsget.ga4gh.org/
        * ex: https://htsget.ga4gh.org/reads/service-info
        * ex: https://htsget.ga4gh.org/variants/service-info


        # Introduction

        Introduction

        # Datasets

        ## Reads Datasets

        ## Variants Datasets
    version: 1.3.0
    contact:
        name: GA4GH Tech Team
        url: https://ga4gh.org
        email: jeremy.adams@ga4gh.org
    license:
        name: Apache 2.0
        url: https://www.apache.org/licenses/LICENSE-2.0.html
    x-logo:
        url: https://www.ga4gh.org/wp-content/themes/ga4gh-theme/gfx/GA-logo-horizontal-tag-RGB.svg
        backgroundColor: '#00000000'
        altText: Global Alliance for Genomics and Health
        href: https://ga4gh.org

servers:
    - url: https://htsget.ga4gh.org
      description: Production htsget reference server API

paths:
    /reads/service-info:
        get:
            tags:
                - Reads
                - Service Info
            summary: Get reads service info
            description: Get metadata about this service's Reads API
            responses:
                200:
                    description: successfully retrieved reads service info
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/HtsgetReadsServiceInfo'
                5xx:
                    '$ref': '#/components/responses/5xxServerError'
    
    /reads/{id}:
        get:
            tags:
                - Reads
            summary: Get alignment (reads) file download ticket
            description: |
                Gets an htsget ticket containing URLs that will enable the
                transfer of a requested alignment file
            parameters:
                - $ref: '#/components/parameters/idPathParam'
                - $ref: '#/components/parameters/readsFormatParam'
                - $ref: '#/components/parameters/classParam'
                - $ref: '#/components/parameters/referenceNameParam'
                - $ref: '#/components/parameters/startParam'
                - $ref: '#/components/parameters/endParam'
                - $ref: '#/components/parameters/readsFieldsParam'
                - $ref: '#/components/parameters/readsTagsParam'
                - $ref: '#/components/parameters/readsNoTagsParam'
            responses:
                200:
                    description: Successfully retrieved htsget ticket
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/HtsgetReadsTicket'
                400:
                    $ref: '#/components/responses/400BadRequestError'
                404:
                    $ref: '#/components/responses/404NotFoundError'
                5xx:
                    $ref: '#/components/responses/5xxServerError'

        post:
            tags:
                - Reads
            summary: Get alignment (reads) file download ticket
            description: |
                Gets an htsget ticket containing URLs that will enable the 
                transfer of a requested alignment file. Compared to the
                equivalent `GET` endpoint, this `POST` endpoint allows more 
                complex genomic region requests via the `regions` parameter
            parameters:
                - $ref: '#/components/parameters/idPathParam'
            requestBody:
                $ref: '#/components/requestBodies/ReadsRequestBody'
            responses:
                200:
                    description: Successfully retrieved htsget ticket
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/HtsgetReadsTicket'
                400:
                    $ref: '#/components/responses/400BadRequestError'
                404:
                    $ref: '#/components/responses/404NotFoundError'
                5xx:
                    $ref: '#/components/responses/5xxServerError'
    
    /reads/data/{id}:
        get:
            tags:
                - Reads
                - Streaming
            summary: Get Reads data
            
    /variants/service-info:
        get:
            tags:
                - Variants
                - Service Info
            summary: Get variants service info
            description: Get metadata about this service's Variants API
            responses:
                200:
                    description: successfully retrieved variants service info
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/HtsgetVariantsServiceInfo'
                5xx:
                    $ref: '#/components/responses/5xxServerError'
    
    /variants/{id}:
        get:
            tags:
                - Variants
            summary: Get variant file download ticket
            description: |
                Gets an htsget ticket containing URLs that will enable the 
                transfer of a requested variant file
            parameters:
                - $ref: '#/components/parameters/idPathParam'
                - $ref: '#/components/parameters/variantsFormatParam'
                - $ref: '#/components/parameters/classParam'
                - $ref: '#/components/parameters/referenceNameParam'
                - $ref: '#/components/parameters/startParam'
                - $ref: '#/components/parameters/endParam'
                - $ref: '#/components/parameters/variantsFieldsParam'
                - $ref: '#/components/parameters/variantsTagsParam'
                - $ref: '#/components/parameters/variantsNoTagsParam'
            responses:
                200:
                    description: Successfully retrieved htsget ticket
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/HtsgetVariantsTicket'
                400:
                    $ref: '#/components/responses/400BadRequestError'
                404:
                    $ref: '#/components/responses/404NotFoundError'
                5xx:
                    $ref: '#/components/responses/5xxServerError'
    
    /variants/data/{id}:
        get:
            tags:
                - Variants
                - Streaming
            summary: Get Variants Data
    
    /file-bytes:
        get:
            tags:
                - Streaming
            summary: Stream bytes of a local file

tags:
    - name: Reads
      description: |
        Enables the retrieval of genomic alignment files (BAM, CRAM) via the
        htsget protocol
    - name: Variants
      description: |
        Enables the retrieval of genomic variant files (VCF, BCF) via the
        htsget protocol
    - name: Service Info
      description: |
        Describes htsget-related API endpoints according to the GA4GH Service Info specification
      externalDocs:
        url: https://github.com/ga4gh-discovery/ga4gh-service-info
    - name: Streaming
      description: |
        Large byte transfers of genomic files
components:
    schemas:

        # LOW-LEVEL, REUSABLE SCHEMAS
        ReadsFormats:
            type: string
            description: Acceptable file formats for genomic alignment files
            enum: [BAM, CRAM]
            example: BAM
        ReadsFields:
            type: array
            description: Acceptable requested fields for genomic alignment files
            items:
                type: string
                enum: [QNAME, FLAG, RNAME, POS, MAPQ, CIGAR, RNEXT, PNEXT, TLEN, SEQ, QUAL]
            example: [QNAME, RNAME]
        # ReadsTags:
        #     type: array
        #     description: Description
        # ReadsNoTags:
        #     type: array
        #     description: Description
        
        


        # SERVICE-INFO SCHEMAS

        ServiceInfo:
            '$ref': https://raw.githubusercontent.com/ga4gh-discovery/ga4gh-service-info/v1.0.0/service-info.yaml#/components/schemas/Service
        HtsgetServiceInfoExtension:
            type: object
            description: Htsget-specific properties integrated into base service info data model 
            properties:
                datatype:
                    type: string
                    description: Indicates the htsget API (reads or variants) that this service info endpoint refers to
                    enum: [reads, variants]
                formats:
                    type: array
                    description: |
                        The file format(s) that the endpoint supports. Indicates
                        what values can be submitted via the `?format=` query
                        parameter
                    items:
                        type: string
                        enum: [BAM, CRAM, VCF, BCF]
                fieldsParameterEffective:
                    type: bool
                    description: |
                        If true, submitting the `fields` query parameter will
                        yield custom field inclusion/exclusion according to htsget
                        protocol
                    example: true
                tagsParametersEffective:
                    type: bool
                    description: |
                        If true, submitting the `tags` and/or `notags` query
                        parameters will yield custom tag inclusion/exclusion
                        according to htsget protocol
                    example: true
        HtsgetServiceInfo:
            allOf:
                - '$ref': '#/components/schemas/ServiceInfo'
                - properties:
                    type:
                        properties:
                            artifact:
                                example: htsget
                            version:
                                example: 1.2.0
                    htsget:
                        '$ref': '#/components/schemas/HtsgetServiceInfoExtension'
                  required:
                    - htsget
        HtsgetReadsServiceInfo:
            allOf:
                - '$ref': '#/components/schemas/HtsgetServiceInfo'
        HtsgetVariantsServiceInfo:
            allOf:
                - '$ref': '#/components/schemas/HtsgetServiceInfo'
                - properties:
                    htsget:
                        properties:
                            datatype:
                                example: variants
                            formats:
                                example: VCF
        
        # REQUEST BODY SCHEMAS
        ReadsRequestBody:
            type: object
            description: Specify desired file format, fields, tags, and regions from an alignment file
            properties:
                format:
                    $ref: '#/components/schemas/ReadsFormats'
                fields:
                    $ref: '#/components/schemas/ReadsFields'
                # tags:
                #     $ref: '#/components/schemas/ReadsTags'
                # notags:
                #     $ref: '#/components/schemas/ReadsNoTags'
                # regions:
                #     $ref: '#/components/schemas/Regions'
        
        # HTSGET TICKET SCHEMAS

        HtsgetHeaders:
            type: object
            description: Headers that must be supplied in the request to a data transfer URL
            properties:
                HtsgetBlockClass:
                    type: string
                    description: When supplied to the data transfer URL, indicates whether a header or body file part is to be returned
                    enum: [header, body]
                    example: header
                HtsgetCurrentBlock:
                    type: string
                    description: "Indicates the file part's position within the overall downloaded file"
                    example: "0"
                HtsgetTotalBlocks:
                    type: string
                    description: Indicates how many file parts the overall genomic file transfer has been broken into
                    example: "100"
                FilePath:
                    type: string
                    description: Path to a local file that is to be streamed on simple byte indices
                    example: /data/reads/object00001.bam
                Range:
                    type: string
                    description: The start/end byte positions of the file to be streamed
                    example: bytes=0-500000
        HtsgetUrl:
            type: object
            description: a URL and associated headers that, when requested, perform transfer of a requested file
            properties:
                url:
                    type: string
                    description: Data transfer URL
                    example: https://htsget.ga4gh.org/reads/data/object00001?referenceName=chr1
                headers:
                    $ref: '#/components/schemas/HtsgetHeaders'
                class:
                    type: string
                    description: Indicates whether the url is responsible for downloading the requested file header or body
                    enum: [header, body]
            required:
                - url
                - headers
        HtsgetTicket:
            type: object
            description: Container for the htsget ticket
            properties:
                htsget:
                    type: object
                    description: Contains htsget ticket attributes that will enable genomic file transfer
                    properties:
                        format:
                            type: string
                            description: The format of the returned file
                            enum: [BAM, CRAM, VCF, BCF]
                        urls:
                            type: array
                            description: An array of URLs and headers that, when requested, will transfer individual file parts of a requested genomic file
                            items:
                                $ref: '#/components/schemas/HtsgetUrl'
                    required:
                        - format
                        - urls
            required:
                - htsget
        HtsgetReadsTicket:
            $ref: '#/components/schemas/HtsgetTicket'
        HtsgetVariantsTicket:
            allOf:
                - $ref: '#/components/schemas/HtsgetTicket'
                - properties:
                    htsget:
                        properties:
                            format:
                                example: VCF
                            urls:
                                items:
                                    allOf:
                                        - $ref: '#/components/schemas/HtsgetUrl'
                                        - properties:
                                            url:
                                                example: https://htsget.ga4gh.org/variants/data/00001
                                            headers:
                                                allOf:
                                                    - $ref: '#/components/schemas/HtsgetHeaders'
                                                    - properties:
                                                        FilePath:
                                                            example: "/data/variants/object00001.vcf"
        
        # ERROR SCHEMAS

        Error:
            type: object
            properties:
                htsget:
                    type: object
                    description: Error object container
                    properties:
                        error:
                            type: string
                            description: Name/type of the error that occurred
                            example: ServerError
                        message:
                            type: string
                            description: Message explaining why the error occurred
                            example: An unspecified server error occurred
                    required:
                        - error
                        - message
            required:
                - htsget
        BadRequestError:
            allOf:
                - $ref: '#/components/schemas/Error'
                - properties:
                    htsget:
                        properties:
                            error:
                                example: InvalidInput
                            message:
                                example: "'FOO' is not an acceptable field"
        NotFoundError:
            allOf:
                - $ref: '#/components/schemas/Error'
                - properties:
                    htsget:
                        properties:
                            error:
                                example: NotFound
                            message:
                                example: The requested resource could not be located

    parameters:
        idPathParam:
            in: path
            name: id
            description: read or variant object identifier
            required: true
            schema:
                type: string
        readsFormatParam:
            in: query
            name: format
            description: Desired read file format
            example: BAM
            required: false
            schema:
                $ref: '#/components/schemas/ReadsFormats'
        variantsFormatParam:
            in: query
            name: format
            description: Desired variant file format
            example: VCF
            required: false
            schema:
                type: string
                enum: [VCF]
                default: VCF
        classParam:
            in: query
            name: class
            description: Request different classes of data. By default, i.e., when class is not specified, the response will represent a complete read or variant data stream, encompassing SAM/CRAM/VCF headers, body data records, and EOF marker
            example: header
            required: false
            schema:
                type: string
                enum: [header]
        referenceNameParam:
            in: query
            name: referenceName
            description: Reference sequence name
            example: chr1
            required: false
            schema:
                type: string
        startParam:
            in: query
            name: start
            description: The start position of the range on the reference, 0-based, inclusive
            example: 12312
            required: false
            schema:
                type: integer
                format: int64
                minimum: 0
        endParam:
            in: query
            name: end
            description: The end position of the range on the reference, 0-based, exclusive
            example: 99999
            required: false
            schema:
                type: integer
                format: int64
        readsFieldsParam:
            in: query
            name: fields
            description: A comma-separated list of SAM fields to include. By default, i.e., when fields is not specified, all fields will be included
            example: QNAME,RNAME
            required: false
            schema:
                $ref: '#/components/schemas/ReadsFields'
        variantsFieldsParam:
            in: query
            name: fields
            description: Placeholder, currently does not do anything
        readsTagsParam:
            in: query
            name: tags
            description: A comma-separated list of tags to include. By default, i.e., when tags is not specified, all tags will be included
            example: MD,NM
            required: false
            schema:
                type: string
        variantsTagsParam:
            in: query
            name: tags
            description: Placeholder, currently does not do anything
        readsNoTagsParam:
            in: query
            name: notags
            description: A comma-separated list of tags to exclude. By default, i.e., when notags is not specified, no tags will be excluded
            example: OQ
            required: false
            schema:
                type: string
        variantsNoTagsParam:
            in: query
            name: notags
            description: Placeholder, currently does not do anything
    requestBodies:
        ReadsRequestBody:
            description: Specify desired file format, fields, tags, and regions from an alignment file
            required: false
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/ReadsRequestBody'
    responses:
        400BadRequestError:
            description: The request was not processed, as the request parameters did not adhere to the specification
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/BadRequestError'
        404NotFoundError:
            description: The request was not processed, as the requested object was not found
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/NotFoundError'
        5xxServerError:
            description: Unspecified server error encountered
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/Error'
